* {
	font-family: 'Press Start 2P', cursive;

}
#inner-dropzone {
  height: 400px;
}
#yes-drop, #no-drop {
	height: 150px;
	width: 150px;
	background-color: transparent;
}
#yes-drop > #yes-drop img {
	position: relative;
	/*top: -80%;
	left: -50%;
	transform: translate(-50%, -50%);*/
}
.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: red;
}

.drop-target {
  /*background-color: yellow;
  border-color: maroon;
  border-style: solid;*/
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;

  color: #fff;
  background-color: #29e;
  /*border: solid 2px #fff;*/

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  /*color: red;
  background-color: #888888;*/
  border: none;
}
.dropped {
	/*display: none;*/
	animation: disappear 5s forwards;
	webkit-animation-iteration-count: 1;
}
@keyframes disappear {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
